* {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
  }

  .header {
   
    margin: auto;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 60px;
    height: 60px;
    cursor: pointer;
  }

  .header ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
  }

  .header ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }

  .header ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: #0d6efd;;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }

  .header ul li:hover::after {
    width: 100%;
  }

  .head {
    text-align: center;
    color: white;
    font-weight: 100px;
    margin: 0 10px 0 150px;
  }

  #title {
    text-align: left;
  }
  .pay {
    border: solid 2px;
    border-color: black;
    border-radius: 10px;
    font-family: sans-serif;
    font-style: inherit;
    text-shadow: 2px;
  }
  .col2 {
    margin: 30px;
  }

  .cursive_font{
    font-family: cursive !important;
    color: white;
    font-size: 25px;
    font-weight: bold ;
  }

  .main_1 {
   
    width: 100%;

  background-image: url('image/bkg.jpg') ;
  backdrop-filter: blur(5px);
  /* background-image: linear-gradient(rgb(103, 103, 242), rgb(235, 235, 146)); */
  background-size: 100% 100%;
  border: 1px solid red;
  }
  .p_font{
    color: white;
    font-size: 25px;
    font-weight: bold ;
  }

  .c1{
    background-color: green;
    min-width: 100px;
    min-height: 100px;
  }
  .c2{
    background-color: red;
    min-width: 100px;
    min-height: 100px;
  }

  .map-container-2{
    overflow:hidden;
    position:relative;
  }
  .map-container-2 iframe{
    
    position:absolute;
  }

  #grad {
    background-image: linear-gradient(red, yellow);
  }
  
  .para{
    text-align: center;
  }

  